@import "userContent/all.css";
@import "userContent/addons.css";
@import "userContent/tables.css";
@import "userContent/config.css";
@import "userContent/downloads.css";
@import "userContent/home.css";
@import "userContent/preferences.css";
@import "userContent/accentcolor.css";

:root {
  --primary-firefox-color: #2eff73 !important;
  --hover-firefox-color: #3fff84 !important;
  --active-firefox-color: #73ff2e !important;
}
