:root {
  --in-content-primary-button-background: var(
    --primary-firefox-color
  ) !important;
  --in-content-primary-button-background-hover: var(
    --hover-firefox-color
  ) !important;
  --in-content-primary-button-background-active: var(
    --active-firefox-color
  ) !important;
  --buttons-primary-button-bgcolor: var(--primary-firefox-color) !important;
  --buttons-primary-button-hover-bgcolor: var(--hover-firefox-color) !important;
  --buttons-primary-button-active-bgcolor: var(
    --active-firefox-color
  ) !important;
  --checkbox-checked-bgcolor: var(--primary-firefox-color) !important;
  --checkbox-checked-hover-bgcolor: var(--hover-firefox-color) !important;
  --checkbox-checked-active-bgcolor: var(--active-firefox-color) !important;
  --lwt-popup-brighttext-url-color: var(--primary-firefox-color) !important;
  --focus-outline-color: var(--primary-firefox-color) !important;
}

@-moz-document regexp("^(about:|chrome:|moz-extension:).*") {
  html:not([role="dialog"]),
  html:not([role="dialog"]) *,
  html:not([role="dialog"]) body.activity-stream,
  window:not([chromehidden]),
  window:not([chromehidden]) > dialog {
    --in-content-primary-button-background: var(
      --primary-firefox-color
    ) !important;
    --in-content-primary-button-background-hover: var(
      --hover-firefox-color
    ) !important;
    --in-content-primary-button-background-active: var(
      --active-firefox-color
    ) !important;
  }
}
