@-moz-document url-prefix("about:addons") {
  .sticky-container,
  .main-search,
  .main-heading,
  panel-list {
    background: #121212 !important;
  }
}

@-moz-document url-prefix("about:addons") {
  .card.addon,
  search-textbox {
    background: #202020 !important;
  }
}
