@-moz-document url-prefix("about:") {
  html {
    background: #121212 !important;
  }
}

@-moz-document url-prefix("about:") {
  :root {
    --in-content-primary-button-background: #2eff73 !important;
    --in-content-primary-button-background-hover: #3fff84 !important;
    --in-content-button-background: #121212 !important;
    --in-content-button-background-hover: #202020 !important;
    --in-content-button-background-active: #404040 !important;
    scrollbar-color: #404040 #202020 !important;
    --button-background-color: #202020 !important;
    --button-hover-background-color: #404040 !important;
    --link-color: #2eff73 !important;
    --link-color-hover: #3fff84 !important;
    --link-color-active: #73ff2e !important;
    --primary-button-hover-background-color: #3fff84 !important;
    --primary-button-background-color: #2eff73 !important;
    --primary-button-active-background-color: #73ff2e !important;
    --in-content-primary-button-text-color: #121212 !important;
  }
}

@-moz-document url-prefix("about:") {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label,
  span {
    color: #f2f2f2 !important;
  }
}

@-moz-document url-prefix("about:") {
  input {
    background: #202020 !important;
  }
}
