@-moz-document url("about:downloads") {
  #contentAreaDownloadsView,
  #downloadsRichListBox {
    background: #121212 !important;
    border: #2eff73 !important;
  }

  #downloadsListEmptyDescription {
    color: #f2f2f2 !important;
  }

  .download.download-state,
  .downloadMainArea {
    background: #202020 !important;
    border-color: #2eff73 !important;
    border-radius: 8px !important;
    outline: #2eff73 !important;
  }
}
