@-moz-document url("about:home") {
  #root {
    background: #121212 !important;
  }

  input {
    background: #202020 !important;
    border-radius: 16px;
  }

  body {
    --newtab-background-color-secondary: #202020 !important;
  }

  .icon.icon-settings.personalize-button.personalize-animate-appear-done.personalize-animate-enter-done {
    --newtab-element-hover-color: #202020 !important;
  }

  .slider {
    --newtab-primary-action-background: var(
      --in-content-primary-button-background
    );
  }
}
