@-moz-document url-prefix("about:") {
  table {
    background: #121212 !important;
  }
}

@-moz-document url-prefix("about:") {
  td,
  table,
  th {
    border-color: #202020 !important;
  }
}

@-moz-document url-prefix("about:") {
  td,
  th {
    color: #f2f2f2 !important;
  }
}
