:root {
  --arrowpanel-border-color: #2eff73 !important;
  --arrowpanel-background: #121212 !important;

  --autocomplete-popup-separator-color: #202020 !important;
  --autocomplete-popup-highlight-background: #303030 !important;

  --button-hover-bgcolor: #282828 !important;
  --button-active-bgcolor: #303030 !important;
  --button-bgcolor: #202020 !important;
  --button-primary-hover-bgcolor: #2eff73c0 !important;
  --button-primary-active-bgcolor: #2eff7380 !important;
  --button-primary-bgcolor: #2eff73 !important;

  --dark-menu-background-color: #121212 !important;
  --dark-menuitem-hover-background-color: #202020 !important;
  --dark-menu-border-color: #202020 !important;

  --download-progress-fill-color: var(
    --lwt-toolbarbutton-icon-fill-attention,
    #2eff73
  );

  --focus-outline-color: #2eff73 !important;

  --lwt-selected-tab-background-color: #202020 !important;
  --lwt-toolbarbutton-icon-fill-attention: #2eff73;

  --input-bgcolor: #202020 !important;
  --input-border-color: #202020 !important;

  --in-content-page-background: #121212 !important;
  --in-content-primary-button-text-color: #121212 !important;
  --in-content-primary-button-background: #2eff73 !important;
  --in-content-primary-button-background-hover: #2eff73c0 !important;
  --in-content-primary-button-background-active: #2eff7380 !important;
  --in-content-button-background: #202020 !important;
  --in-content-button-background-hover: #282828 !important;
  --in-content-button-background-active: #303030 !important;

  --panel-separator-color: #202020 !important;

  --toolbar-bgcolor: #121212 !important;
  --toolbar-field-background-color: #202020 !important;
  --toolbar-field-focus-background-color: #202020 !important;
  --toolbarbutton-icon-fill-attention: var(
    --lwt-toolbarbutton-icon-fill-attention,
    #2eff73
  ) !important;

  --zoom-controls-bgcolor: #121212 !important;
}

#star-button {
  fill: #2eff73 !important;
}

#customization-done-button {
  color: #121212 !important;
  border-color: #2eff73 !important;
  background-color: #2eff73 !important;
}

.browserStack {
  background-color: #121212 !important;
}

xul|button[default] {
  background-color: #2eff73 !important;
}

xul|button[default]:not([disabled="true"]):hover {
  background-color: #2eff73c0 !important;
}
