:host([type="info"]) .icon {
  color: #2eff73 !important;
}

button.primary {
  background-color: #2eff73 !important;
}

xul|button.primary:not([disabled="true"]):hover {
  background-color: #2eff73c0;
}

button {
  border-radius: 8px !important;
}

html|button.ghost-button:not(.semi-transparent):enabled:hover {
  background-color: #303030;
}
