:root {
  --arrowpanel-menuitem-border-radius: 8px !important;
  --arrowpanel-menuitem-margin: 2px 8px !important;

  --toolbarbutton-border-radius: 8px !important;

  --urlbar-icon-border-radius: var(--toolbarbutton-border-radius) !important;
}
